/*.barra-branca {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo-img {
  height: 100px;  Ajuste o tamanho do logo se necessário 
}
#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.item-menu {
  margin-right: 20px;
}
.link-menu {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
}


#sec-ctd {
  margin-left: 20px;
}
#sec-ctd h1 {
  font-family: 'Amatic SC';
  font-size: 2em;
  text-align: right; 
}
#email a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}
#social a img {
  width: 30px;
  margin: 0 5px;
  justify-content: flex-end;
}
*/















@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins&display=swap');

body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}

header, #principal, #second, #contato, #stream {
	
}
.link-menu.inicio {
  background-color: #333; /* Cor cinza para "Início" */
  border: 2px solid #333; /* Borda cinza */
}
.link-menu.f {
  background-color: #5b305a; /* Cor roxa para "Filme" */
  border: 2px solid #5b305a; /* Borda roxa */
}
.link-menu.l {
  background-color: #e49756; /* Cor amarela para "Livro" */
  border: 2px solid #e49756; /* Borda amarela */
}
.link-menu.m {
  background-color: #e04b5a; /* Cor vermelha para "Música" */
  border: 2px solid #e04b5a; /* Borda vermelha */
}
.link-menu {
  color: #fff;
  background-color: #555;
}

.f {
  background-color: #5b305a;
}

.l {
  background-color: #e49756;
}

.m {
  background-color: #e04b5a;
}
#principal {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#principal img {
  width: 200px;
  height: auto;
  margin-right: 20px;
}
.cartaz img{
  flex-direction: row;
  color: #fff;
  width: 100px;
  margin-right: 20px;
  align-items: ;
  justify-content: left;
}
main {
  background-color: #333;
  color: #ddd;
}

h1, h2 {
  font-family: 'Amatic SC';
}

#second a{
  color: #fff;
  width: 50px;
  height: auto;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #333;
  color: #ddd;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
